<h1><%= @user.name %></h1>

<ul>
  <li>
    <strong>ID</strong>
    <br>
    <%= @user.id %></li>
  </li>
  <li>
    <strong>Name</strong>
    <br>
    <%= @user.name %>
  </li>
  <li>
    <strong>Created at</strong>
    <br>
    <%= @user.created_at %>
  </li>
  <li>
    <strong>Last updated at</strong>
    <br>
    <%= @user.updated_at %>
  </li>
</ul>

<h2>Posts</h2>

<% @user.posts.each do |post| %>
  <article>
    <h2><%= link_to post.title, post %></h2>
    <% post.body&.lines&.each do |line| %>
      <p><%= line %></p>
    <% end %>
  </article>
<% end %>

<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Destroy", @user, method: :delete %>
